<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springshop.mapper.ItemMapper">

<!--    <insert id="save" parameterType="Item">
        MERGE INTO ITEM A
            USING (
                SELECT #{itemId} AS ITEM_ID FROM DUAL
            ) S
            ON (A.ITEM_ID = S.ITEM_ID)
            WHEN MATCHED THEN
                UPDATE SET
                     &lt;!&ndash; A.NAME = #{name} &ndash;&gt;
                      A.PRICE = #{price}
                    , A.STOCK_QUANTITY = #{stockQuantity}
                    , A.DTYPE = #{dtype}
                    , A.AUTHOR = #{author}
                    , A.ISBN = #{isbn}
                    , A.DIRECTOR = #{director}
                    , A.ACTOR = #{actor}
                    , A.ARTIST = #{artist}
                    , A.ETC = #{etc}
            WHEN NOT MATCHED THEN
                INSERT (
                        ITEM_ID, NAME, PRICE, STOCK_QUANTITY, DTYPE,
                        AUTHOR, ISBN, DIRECTOR, ACTOR, ARTIST, ETC
                    )
                    VALUES (
                           item_seq.NEXTVAL, #{name}, #{price}, #{stockQuantity}, #{dtype},
                           #{author}, #{isbn}, #{director}, #{actor}, #{artist}, #{etc}
                       )
    </insert>-->

    <update id="updateItem" parameterType="Item">
        UPDATE ITEM
        SET
            NAME = #{name},
            PRICE = #{price},
            STOCK_QUANTITY = #{stockQuantity},
            DTYPE = #{dtype},
            AUTHOR = #{author},
            ISBN = #{isbn},
            DIRECTOR = #{director},
            ACTOR = #{actor},
            ARTIST = #{artist},
            ETC = #{etc}
        WHERE ITEM_ID = #{itemId}
    </update>

    <insert id="insertItem" parameterType="Item">
        <selectKey keyProperty="itemId" resultType="Long" order="BEFORE">
            SELECT ITEM_SEQ.NEXTVAL
        </selectKey>
            INSERT INTO ITEM (
                        ITEM_ID, NAME, PRICE, STOCK_QUANTITY, DTYPE,
                        AUTHOR, ISBN, DIRECTOR, ACTOR, ARTIST, ETC
                    )
            VALUES (
                    #{itemId}, #{name}, #{price}, #{stockQuantity}, #{dtype},
                    #{author}, #{isbn}, #{director}, #{actor}, #{artist}, #{etc}
                )
    </insert>

    <select id="findById" parameterType="Long" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
        WHERE ITEM_ID = #{item_id}
    </select>

    <select id="findAll" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
    </select>

    <select id="findItemByName" parameterType="String" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
        <if test="name != null and name != '' ">
            WHERE NAME LIKE '%' || #{name} || '%'
        </if>
    </select>

</mapper>
