<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springshop.mapper.ItemMapper">

    <insert id="save" parameterType="Item">
        MERGE INTO ITEM A
            USING (
                SELECT #{itemId} AS ITEM_ID FROM DUAL
            ) S
            ON (A.ITEM_ID = S.ITEM_ID)
            WHEN MATCHED THEN
                UPDATE SET
                     <!-- A.NAME = #{name} -->
                      A.PRICE = #{price}
                    , A.STOCK_QUANTITY = #{stockQuantity}
                    , A.DTYPE = #{dtype}
                    , A.AUTHOR = #{author}
                    , A.ISBN = #{isbn}
                    , A.DIRECTOR = #{director}
                    , A.ACTOR = #{actor}
                    , A.ARTIST = #{artist}
                    , A.ETC = #{etc}
            WHEN NOT MATCHED THEN
                INSERT (
                        ITEM_ID, NAME, PRICE, STOCK_QUANTITY, DTYPE,
                        AUTHOR, ISBN, DIRECTOR, ACTOR, ARTIST, ETC
                    )
                    VALUES (
                           item_seq.NEXTVAL, #{name}, #{price}, #{stockQuantity}, #{dtype},
                           #{author}, #{isbn}, #{director}, #{actor}, #{artist}, #{etc}
                       )
    </insert>

    <select id="findById" parameterType="Long" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
        WHERE ITEM_ID = #{item_id}
    </select>

    <select id="findAll" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
    </select>

    <select id="findItemByName" parameterType="String" resultType="Item">
        SELECT
            ITEM_ID
             , NAME
             , PRICE
             , STOCK_QUANTITY
             , DTYPE
             , AUTHOR
             , ISBN
             , DIRECTOR
             , ACTOR
             , ARTIST
             , ETC
        FROM
            ITEM
        <if test="name != null and name != '' ">
            WHERE NAME LIKE '%' || #{name} || '%'
        </if>
    </select>

</mapper>
