<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springshop.mapper.MemberMapper">

    <insert id="save" parameterType="Member">
        <selectKey keyProperty="memberId" resultType="Long" order="BEFORE">
            SELECT MEMBER_SEQ.NEXTVAL
        </selectKey>
        INSERT
        INTO
            MEMBER (MEMBER_ID
                   , NAME
                   , CITY
                   , STREET
                   , ZIPCODE
                )
        VALUES (
                     #{memberId}
                   , #{name}
                   , #{address.city}
                   , #{address.street}
                   , #{address.zipcode}
               )
    </insert>

    <select id="findById" parameterType="Long" resultMap="memberResultMap">
        SELECT
               MEMBER_ID
             , NAME
             , CITY
             , STREET
             , ZIPCODE
        FROM
            MEMBER
        WHERE
            MEMBER_ID = #{id}
    </select>

    <select id="findAll" resultMap="memberResultMap">
        SELECT
               MEMBER_ID
             , NAME
             , CITY
             , STREET
             , ZIPCODE
        FROM
            MEMBER
    </select>

    <select id="findByName" parameterType="String" resultMap="memberResultMap">
        SELECT
               MEMBER_ID
             , NAME
             , CITY
             , STREET
             , ZIPCODE
        FROM
            MEMBER
        WHERE
            NAME = #{name}
    </select>

    <resultMap id="memberResultMap" type="Member">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="name" column="NAME"/>
        <association property="address" javaType="springshop.model.Address">
            <result property="city" column="CITY"/>
            <result property="street" column="STREET"/>
            <result property="zipcode" column="ZIPCODE"/>
        </association>
    </resultMap>

</mapper>
